# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
temp/

# Local environment
.env
.env.local
.env.*.local

# Vercel
.vercel/

# OS specific
.DS_Store
Thumbs.db

# Editor specific
.vscode/
.idea/
*.swp

# Logs
logs/
*.log
*.tsbuildinfo
.vercel
